
.one{
background-color: blue;
color: white;
line-height: 30px;
margin-bottom: 10px;
display: flex;
}
.two{
background-color: green;
color: white;
margin-bottom: 10px;
height: 200px;
width: 25%;
margin-right: 10px;
}
.container{
display: flex;
justify-content: space-between;
}
.three{
background-color: red;
color: white;
margin-bottom: 10px;
height: 200px;
width:calc(100% - 25% - 10px);
display: flex;

}
.four{
background-color: purple;
color: white;
line-height: 30px;
}